footer{
  border-top: 1px solid white;
  text-align: center;
  margin-top: 200px 50px;

}
footer h2{
  font-size: 2em;
  color: var(--cor3);
  padding: 25px;
}

.contatos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-contatos{
  margin: 30px 10px;
  font-weight: bolder;
  cursor: pointer;
  color: var(--cor4);
  transition: 0.2s linear;
}

.card-contatos a{
  text-decoration: none;
}

.card-contatos i{
  display: block;
}

.card-contatos:hover{
  transform:scale(0.9)
}

@media(max-width:470px){
  .card-contatos span{
     font-size: 13px;
     margin: 0;
  }
}
