#skils{
  margin: 200px auto ;
  text-align: center;
  width:75%;
}

#skils h2{
  font-size: 2em;
  color:var(--cor3);
  padding-bottom: 50px;
}

.box{
  width: 110px;
  display: inline-block;
  background-color: var(--cor5);
  margin-left: 15px;
  border-radius: 20px 0 0 0 ;
  padding: 20px; 
  font-weight: bolder;
  cursor: pointer;
  color: var(--cor4);
  transition: 0.2s linear;
}

.box:hover{
  transform:scale(0.9)
}

.box::after{
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--cor2);
  transform: translateY(10px) ;
  margin-top: 0px;
  opacity: 0;
  transition: 0.3s  linear ;
}

.box:hover::after{
  opacity: 1;
  transform: translateY(0px);
}

.bx{
  font-size: 55px;
  color: var(--cor2);
}

@media (max-width:490px){
  .box{
    margin: 15px;
    border-radius: 10px;
  }
  #skils{
    width: 100%;
  }
}