@import  url("./header.css");
@import  url("./about.css");
@import  url("./skils.css");
@import  url("./projects.css");
@import  url("./modal.css");
@import  url("./footer.css");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  
}

:root{
    --cor1: rgb(31,31,51);
    --cor2: rgb(226,102,102);
    --cor3:  #F9F9F9;
    --cor4:rgb(104, 104, 104);
    --cor5: #212121;
}

.ligth:root{
    --cor1: rgb(238,238,238);
    --cor2: rgb(226,102,102);
    --cor3:  #111;
    --cor4: rgb(104, 104, 104);
    --cor5: rgb(31,31,51);
}

body{
    background-color: var(--cor1);
    animation:  fadeIn 1s linear;
} 

[data-anime]{
    opacity: 0;
    transition: 0.2s ;
}

[data-anime="left"]{
    transform: translate3d(-50px, 0, 0) ;
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

::-webkit-scrollbar{
    background-color: var(--cor-de-fundo);
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor2);
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}