
.card-sobre{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 70px;
}

#dados{
  text-align: center;
  margin: 0 50px;
}

#dados img{
  border-radius: 50%;
}

#titulo h1{
  padding-bottom: 30px;
  color:  var(--cor2);
  font-size: 3em;
  font-weight: normal;
}

#titulo h1 span{
  color: var(--cor4);
  font-size: 30px;
  font-weight: normal;
}

#titulo a{
  position: absolute;
  background: linear-gradient(90deg, #FF5951 0%, #D95821 37%, #F09930 100%);
  text-decoration: none;
  padding: 8px;
  font-size: 13px;
  color: var(--cor3);
  border-radius: 8px;
  transition: 0.2s linear;
}

#titulo a:hover{
  transform: scale(0.9);
  background: linear-gradient(90deg, #FF5951 0%, #F09930 100%);
}

table{
  border-collapse: collapse;
  color: var(--cor4);
}

td,th{
  padding: 8px;
  border: 1px solid rgb(69, 68, 68);
  text-align: center;
}

#about {
  margin:50px auto;
  font-size: 1.2em;
  width: 75%;
  letter-spacing: 0.1px;
  text-indent: 30px;
  color: var(--cor4);
}

#about  h2 {
  text-align: center;
  font-size: 2em;
  padding: 15px;
  color:var(--cor3);
}

